/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white-soft);
  --color-text: var(--vt-c-black-mute);

  --color-card-border: var(--vt-c-black-mute);

  --color-calendar-circle-border: #9ccc86;
  --color-calendar-circle-color: #9ccc86;
  --color-calendar-circle-text: #ffffff;
  --color-calendar-holiday: #ffaaaa;

  --color-map-header: var(--vt-c-black-soft);

  --color-account-hover: rgb(122, 122, 122);
  --color-account-background: rgba(81, 81, 81, 0.047);

  --color-footer-background: rgb(223, 223, 223);
  --color-footer-icon: #666666cc;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: "GowunBatang-Regular";
  line-height: 170% !important;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* divider icon color : svg stroke="282828cc" */
/* divider icon size : r%3D%224 => "4" */
.uk-divider-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23282828cc%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%224%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-divider-icon::before,
.uk-divider-icon::after {
  border-bottom: 1px solid #282828cc;
}

/* accordion title icon color : fill="282828cc" */
.uk-accordion-title::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23282828cc%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23282828cc%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-open > .uk-accordion-title::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23282828cc%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E");
}